<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Safe Driving Awareness App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script type="text/javascript" th:src="@{/js/lrm-graphhopper.js}"></script>
</head>

<body>
<div class="d-flex m-3 justify-content-start">
    <form id="routeForm" action="#" th:action="@{/}" th:object="${routeInput}" method="post">
        <div class="mb-1">
            <label for="sourceInput" class="form-label">Source:</label>
            <input id="sourceInput" type="text" th:field="*{source}" class="form-control"/>
        </div>
        <br/>
        <div class="mb-1">
            <label for="destinationInput" class="form-label">Destination:</label>
            <input id="destinationInput" type="text" th:field="*{destination}" class="form-control"/>
        </div>
        <br/>
        <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="autocompleteOffcanvas" aria-labelledby="autocompleteOffcanvasLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="autocompleteOffcanvasLabel">Autocomplete results</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Found the following locations for your input
        </div>
        <div class="dropdown mt-3">
            <select class="form-select" size="10" id="autocompleteResult">
                <option th:each="option : ${autocompleteOptions}"
                        th:value="${option}"
                        th:text="${option.description}"></option>
            </select>
        </div>
    </div>
</div>


<!--<div>-->
<!--    <h4>Autocomplete results</h4>-->
<!--    <select class="form-control" id="autocompleteResult">-->
<!--        <option value="0">Select option</option>-->
<!--        <option th:each="option : ${autocompleteOptions}"-->
<!--                th:value="${option}"-->
<!--                th:text="${option.description}"></option>-->
<!--    </select>-->
<!--</div>-->

<div id="map" style="width: 75%; height: 550px;"></div>

<script th:inline="javascript">
    $(document).on('keydown', '#sourceInput', function(event) {
        if ((event.ctrlKey && event.code == 'Space') && $('#sourceInput').val().trim().length > 0) {
            var inputValue = $('#sourceInput').val();
            $.get('/autocomplete', { query: inputValue }).done(function(fragment){
                $("#autocompleteResult").replaceWith(fragment);
            });
            const autocompleteOffcanvsElement = $('#autocompleteOffcanvas');
            console.log(autocompleteOffcanvsElement);
            const autocompleteOffcanvasObj = new bootstrap.Offcanvas(autocompleteOffcanvsElement);
            autocompleteOffcanvasObj.show();
        }
    });
</script>

<script th:inline="javascript">
    $(document).on('keydown', '#destinationInput', function(event) {
        if ((event.ctrlKey && event.code == 'Space') && $('#destinationInput').val().trim().length > 0) {
            var inputValue = $('#destinationInput').val();
            $.get('/autocomplete', { query: inputValue }).done(function(fragment){
                $("#autocompleteResult").replaceWith(fragment);
            });
        }
    });
</script>

<script th:inline="javascript">
    $(document).on('change', '#autocompleteResult', function(event) {
        var selectedValue = $('#autocompleteResult option:selected').val();
        console.log(selectedValue);
    });
</script>

<script th:inline="javascript">
    // TODO add default centering
    var map = L.map('map').setView([47.6565584, 23.5719843],16);
<!--    var map = L.map('map', { doubleClickZoom: false }).locate({ setView: true, maxZoom: 16 });-->
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var control = L.Routing.control({
<!--        waypoints: [-->
<!--            L.latLng(47.6565584, 23.5719843),-->
<!--            L.latLng(46.769379, 23.5899542)-->
<!--        ],-->
        routeWhileDragging: true,
        geocoder: L.Control.Geocoder.nominatim({
                serviceUrl: "http://localhost:8081/"
        }),
        router: new L.Routing.GraphHopper(undefined, {
             serviceUrl: 'http://localhost:8080/route'
        })
    }).addTo(map);
    control.on('routesfound', function (e) {
        var routes = e.routes;
        var summary = routes[0].summary;
        console.log(summary);
        alert('Total distance is ' + summary.totalDistance / 1000 + ' km and total time is ' + Math.round(summary.totalTime % 3600 / 60) + ' minutes');
    })
</script>

</body>

</html>